numpy
pandas
matplotlib
seaborn
statsmodels
scikit-learn
plotly
imblearn
ipykernel
SQLalchemy == 1.3.9
ipython-sql
mysql-connector-python
pymongo
requests
Flask
beautifulsoup4
webdriver-manager
selenium
openpyxl
yfinance
bokeh
catboost
lime
pmdarima